.App {
  background-color: #000;
  font-family: 'Roboto';
}
.smallCard::-webkit-scrollbar {
  display: none;
}
.smallCard{
  overflow-x: 'auto';
  overflow-y: 'auto';
  white-space: 'nowrap';
  scrollbar-width: 'none';
  scroll-behavior: smooth;
}
.title{
  font-size: x-large;
  width: fit-content;
  color: #fff;
}
.small:hover{
  opacity: 0.5;
  transform: scale(1.1);
}
